body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: white;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  color: #2e2f42;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: flex;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/*HEADER*/
.header-section {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text-header {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 76px;
}

.studio-header {
  color: #2e2f42;
}

.nav-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

 

  
.nav-text {
  color: #434455;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}



.current:hover::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-text:active,
.nav-text:hover,
.nav-text:focus {
  color: #404bbf;
}
.contact-list {
  display: flex;
  gap: 40px;
}

.contacts-text {
  font-style: normal;
}

.contacts-text-item {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-text-item:hover,
.contacts-text-item:focus {
  color: #404bbf;
}

/*1 Website Title Section*/

.website-title-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 188px;
  padding-bottom: 188px;
}

.website-title {
  max-width: 496px;
  color: white;
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0 auto;
}

.button-text {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-text:hover,
.button-text:focus {
  background-color: #404bbf;
}

/*2 Strength Section*/

.strengths-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.strengths-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.strengths-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.strengths-box {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.strengths-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/*3 Our Team Section*/

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.teammate-item {
  background-color: white;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.teammate-name-subitem {
  padding: 32px 0px;
}

.teammate-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.teammate-role {
  text-align: center;
}
.teammate-contacts-list {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.sociallink-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sociallink-link:hover,
.sociallink-link:focus {
  background-color: #404bbf;
}

.contacts-icon {
  fill: #f4f4fd;
}

/*4 Portfolio*/
.portfolio-section {
  padding: 120px 0;
}

.potfolio-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}


.product-name-subitem {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.product-img {
  position: relative;
  overflow: hidden;
  
}
.product-hidden-text {
  position: absolute;
  top: 0; 
  font-size: 16px;
  letter-spacing: 0.02em; 
  color: #f4f4fd;
  padding: 40px 32px; 
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .product-hidden-text {
  transform: translateY(0%);
}

.product-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
/*FOOTER*/

.footer-section {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-container {
  margin-right: 120px;
}

.logo-text-footer {
  display: inline-block;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 76px;
  margin-bottom: 16px;
}

.studio-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  max-width: 264px;
}

/* FOOTER*/
/*Social Media*/

.footer-socialmedia-text {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-socialmedia-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-socialmedia-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socialmedia-link:hover,
.footer-socialmedia-link:focus {
  background-color: #31d0aa;
}

.footer-contacts-icon {
  fill: #f4f4fd;
}
